
/* NAVBAR
ul {
  font-family: "Roboto Mono", monospace;
  list-style: none;
  display: flex;
  color: var(--bright-yellow);
}

li {
  margin: 0 10px;
  padding: 5px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav--a{
  color: var(--bright-yellow);
}

/* HEADER */
/* 
h1 {
  font-family: "Poppins", sans-serif;
  padding: 0 2.5rem;
  color: var(--bright-pink);
  font-size: 4rem;
  margin-bottom: 0;
}

.header{
  min-height: 100vh;
}

.header--h2 {
  font-family: "Poppins", sans-serif;
  padding: 0rem 2.5rem;
  color: var(--dark-pink);
  margin-top: 0;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

.header--p {
  color: var(--dark-pink);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */ 